html {
    font-family: sans-serif;
  }
  
div {
height: 100px;
width: 200px;
border: 1px;
font-size: 1.5rem;
background-color: red;
border-radius: 2%;
margin: auto;
padding: 10px;
text-align: center;
border: solid darkred 1px;
color: white;
text-shadow: black 2px 2px;
box-shadow: 3px 3px 8px black, inset 2px 2px 5px white, inset -2px -2px 5px black;
}

